.button {
  margin: 0;
  background-color: black;
  color: white;
}
.button__pencil {
  border-color: white;
  border-style: solid;
  background-color: black;
  width: 24px;
  height: 24px;
}
.button__plus {
  border-color: white;
  border-style: solid;
  background-color: black;
  width: 150px;
  height: 50px;
}
