.card {
  padding-top: 48px;
  height: 361px;
  width: 282px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  list-style: none;
  padding: 0;
  margin: 0;
  grid-gap: 20px 17px;
  justify-content: center;
}
.card__description {
  display: flex;
  max-width: 100%;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter" Helvetica sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.card__button {
  background: transparent url(../images/vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  border: none;
  margin-left: 28px;
  width: 21px;
  height: 18px;
}
.card__button:hover {
  background: transparent url(../images/vector_hover.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.card__image {
  height: 282px;
  width: 282px;
}
@media screen and (max-width: 425px) {
  .card__list {
    flex-direction: column;
  }
}
