.card {
  padding-top: 48px;
  height: 361px;
  width: 282px;
}
.card__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  list-style: none;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
  gap: 17px;
}
.card__description {
  display: flex;
  max-width: 100%;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}
.card__button {
  background-color: white;
  color: black;
  border: none;
  margin-left: 28px;
}
