@font-face {
  font-family: "Inter";
  src: url("C:\Users\georg\projects\se_project_aroundtheus\fonts\Inter-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("C:\Users\georg\projects\se_project_aroundtheus\fonts\Inter-Regular.woff2");
  font-weight: regular;
}
