.header {
  background-color: black;
  width: 100%;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  margin-top: 45px;
}
.header__logo {
  margin-bottom: 41px;
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 100%;
    margin-top: 0;
  }
  .header__logo {
    width: 126px;
    margin-left: 27px;
    margin-top: 28px;
    margin-bottom: 32px;
  }
}
