.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent #000000;
  visibility: hidden;
  flex-direction: column;
  margin: 0;
  padding: 0 19px;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.modal__opened {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: visibility 1s 0s, opacity 1s linear;
}

.modal__container {
  height: 330px;
  width: 430px;
  background-color: #ffffff;
  padding: 36px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}
.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal__close:hover {
  background-color: transparent;
  opacity: 0.6;
}
.modal__heading {
  color: #000000;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
}
.modal__title {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
  padding-bottom: 13.26px;
}
.modal__subheading {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 29.74px;
  padding-bottom: 13.34px;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000000;
}
.modal__button {
  width: 100%;
  background-color: #000000;
  color: white;
  height: 50.15px;
  border-radius: 2px;
  font-family: "Inter", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 48px;
}
.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__container_image {
  background: none;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  display: flex;
  padding: 0 auto;
}
.modal__image {
  object-fit: cover;
  max-width: 100%;
}
.modal__caption {
  position: absolute;
  left: 0px;
  bottom: -50px;
}
@media screen and (max-width: 475px) {
  .modal__container {
    height: 322px;
    width: 282px;
  }
  .modal__close {
    top: -53.62px;
    right: 0;
    bottom: auto;
    left: auto;
    height: 26px;
    width: 26px;
  }
}
