.page {
  background-color: black;
  color: white;
}
.page__content {
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
}
.page__section {
  position: relative;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
