.profile {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 36.25px;
  margin-bottom: 47.25px;
}
.profile__image {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 75px;
  margin: 0;
  align-self: center;
}
.profile__grid {
  display: grid;
  grid-template-areas:
    "title title pencil . . "
    "subheading subheading subheading . .  ";
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 20px;
}
.profile__title {
  font-family: "Inter", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subheading {
  max-width: 100%;
  font-family: "Inter", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: subheading;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__edit-button {
  background: transparent url(../images/pencil.svg);
  border-color: rgba(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  grid-area: pencil;
  margin-left: 18px;
}
.profile__edit-button:hover {
  background: transparent url(../images/pencil.svg);
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0.6);
}
.profile__add-button {
  background: transparent url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: rgba(255, 255, 255);
  border-style: solid;
  background-color: black;
  width: 150px;
  height: 50px;
  grid-area: plus;
  align-self: center;
  border-radius: 2px;
}
.profile__add-button:hover {
  background: transparent url(../images/plus_hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
  border: solid rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__grid {
    text-align: center;
    padding-top: 26.25px;
    margin-left: 40px;
  }
  .profile__title {
    width: 100%;
    font-size: 22px;
    margin: 0 auto;
    line-height: 27px;
  }
  .profile__subheading {
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    line-height: 17px;
    margin-top: 14px;
  }
  .profile__add-button {
    max-width: 100%;
    width: 282px;
    height: 50px;
    margin: 0 auto;
    margin-top: 36px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__image {
    margin-top: 38.25px;
  }
}
