.image {
  border-radius: 50%;
  width: 169px;
  height: 128px;
  margin-left: 178px;
  margin-top: 156px;
  margin: 0;
}
.profile {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 178px;
  padding-top: 156px;
  max-width: 880px;
}
.profile__title {
  width: 373px;
  height: 39px;
}
.profile__subheading {
  width: 415px;
  height: 22px;
}
