.image {
  border-radius: 50%;
  width: 169px;
  height: 128px;
  margin-top: 156px;
  margin: 0;
}
.profile {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 156px;
  max-width: 880px;
}
.profile__grid {
  display: grid;
  grid-template-areas:
    "title title pencil . . "
    "subheading . . . . ";
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 5fr 1fr 1fr 1fr;
}
.profile__title {
  max-width: 373px;
  height: 39px;
  font-family: "Inter" Helvetica sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  width: 100%;
}
.profile__subheading {
  max-width: 415px;
  height: 22px;
  position: absoute;
  font-family: "Inter" Helvetica sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: subheading;
}
@media screen and (max-width: 425px) {
  .profile {
    flex-direction: column;
  }
  .profile__grid {
    flex-direction: column;
  }
  .profile__title {
    width: 100%;
  }
  .profile__subheading {
    width: 100%;
  }
}
