.profile {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 36.25px;
  margin-bottom: 47.25px;
}
.profile__image {
  
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0;
  align-self: center;
}
.profile__image-button:hover{
  opacity: 1;
  cursor: pointer;
}
.profile__image-button {
  background-image: url("../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0 , 0 , 0 , .2);
transition: opacity .5s ease-in;
opacity: 0;
position: absolute;
width: 26px;
height: 26px;
top: 47px;
bottom: 47px;
right: 47px;
left: 47px;

}
.profile__grid {
  display: grid;
  grid-template-areas:
    "title title pencil . . ."
    "subheading subheading subheading . . . ";

  align-items: center;
  margin-left: 20px;
}
.profile__title {
  font-family: "Inter", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__subheading {
  max-width: 100%;
  font-family: "Inter", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: subheading;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__edit-button {
  background: transparent url(../images/pencil.svg);
  border-color: rgba(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  grid-area: pencil;
  margin-left: 18px;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: rgba(255, 255, 255);
  border-style: solid;
  background-color: black;
  width: 150px;
  height: 50px;
  grid-area: plus;
  align-self: center;
  border-radius: 2px;
  margin-left: auto;
}
.profile__add-button:hover {
  background: transparent url(../images/plus_hover.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  cursor: pointer;
  border: solid rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile__grid {
    text-align: center;
    padding-top: 26.25px;
  }
  .profile__title {
    width: 100%;
    font-size: 22px;
    margin: 0 auto;
    line-height: 27px;
  }
  .profile__subheading {
    width: 100%;
    font-size: 14px;
    margin: 0 auto;
    line-height: 17px;
    margin-top: 14px;
  }
  .profile__add-button {
    max-width: 100%;
    width: 282px;
    height: 50px;
    margin: 0 auto;
    margin-top: 36px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__image {
    margin-top: 38.25px;
  }
}
/**@media screen (max-width: 880px) {
  .profile {
    padding-left: 20px;
    padding-right: 20px;
  }
}**/
